
<div style="background-color: black;"> 

<ul class="nav justify-content-center">
  
    <a class="navbar-brand " [routerLink]="'principal'"> <img src="../../../assets/img/helado.png" style="width:30px; height:30px;" /></a>
    <li class="nav-item">
        <a style="color: rgb(255, 255, 255)  ;" class="nav-link" [routerLink]="'helados'"> <H4>
           Helados
            </H4>  </a>
    </li>
    <li class="nav-item">
        <a id= "contactanos" style="color: rgb(255, 255, 255);" class="nav-link" [routerLink]="'contactos'"> <H4>
           Contactanos
            </H4>  </a>
    </li>
      <li class="nav-item">
        <a style="color:white;" class="nav-link" [routerLink]="'informacion'"> 

                    <h4>
                        Informacion
                    </h4>
          
              </a>
      </li>
     
      
  </ul>


</div>