

    <br>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-6">
              <br><br><br>
              <hr>
            <h1 style="text-align: center;color: blue;"><span class="title-domicilios">DOMICILIOS</span></h1>
            <h4   style="text-align: center;">Disfruta nuestras recetas tradicionales<br>
            en la comodidad de tu casa.</h4>

            <hr style="color: blue;">
    
            <h4   style="text-align: center;color: blue;">
                Numero de telefono <br>
                300-234-6789
                <br><br>
            </h4>
  
              <hr>

         </div>
         <div class="col-6">
             
           <br><br><br><hr>
            <table class=" text-center table table-striped table-hover">

                <h4 style="color: blue;" class="text-center">Horarios de atencion</h4>
        
                <tr> <th> Lunes</th>          <th> De 9 AM </th>         <th>  6PM</th>       </tr>
            
            
            
                <tr> <th>Martes</th>             <th> De 9 AM   </th>          <th>6PM</th>         </tr>
            
            
            
                <tr> <th>Miercoes </th>        <th> De 9 AM   </th>        <th>6PM</th>       </tr>
            
            
            
                <tr> <th>Jueves </th>       <th> De 9 AM </th>          <th>6PM</th>      </tr>
            
        
        
                <tr> <th>Viernes </th>       <th> De 9 AM </th>          <th>6PM</th>      </tr>
        
        
        
                <tr> <th>Sabado </th>       <th> De 9 AM</th>          <th>9PM</th>      </tr>
        
        
        
                <tr> <th>Domingo </th>       <th> De 9 AM</th>          <th>9PM</th>      </tr>
        
                
            
            </table>
           <hr>
         </div>
     </div>

     <div class="row">

        <div class="col-lg-6">
    
            <div class="ratio ratio-16x9">
    
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EFLcEh9DM9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
            </div>
    
        </div>
    
    
        
        <div class="col-lg-6">
    
            <div class="ratio ratio-16x9">
    
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15666.301449301265!2d-74.7909976!3d10.9953899!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b195f6bb10f7ede!2sCUL%20CORPORACION%20UNIVERSITARIA%20LATINOAMERICANA!5e0!3m2!1ses!2sco!4v1631913406266!5m2!1ses!2sco"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    
            </div>
    
        </div>




    </div>
<br><br><br><br><br><br><br><br>


