<div class="container">
    <br>
    <br>
    
            <h2>Conoce tu salario.</h2> <br>
            <p>Introduce las horas que haz laborado y el precio asignado de hora.</p> <br>
        
          <div class="row">
              <div class="col-xl-6 col-lg-6  col-md-6  col-sm-6 col-6  ">
                      <form id="miForm"  autocomplete="off">
                           <label >Nombre</label> <br>
                          <input type="text" class="form-control" id="txtnombre" > <br>
                          <label >Apellido</label> <br>
                          <input type="text" class="form-control" id="txtapellido"> <br>
                          <label> Correo</label> <br>
                          <input type="text" class="form-control" id="txtcorreo"> <br>
                           <label >Cedula</label> <br>
                          <input type="text" class="form-control" id="txtcc" > <br>
                          <label >Valor hora de trabajo</label> <br>
                          <input type="text" class="form-control" id="txtvalor"  > <br>
                           <label >Horas laboradas</label> <br>
                          <input type="text" class="form-control" id="txthora" > <br>
                         
                          <button type="button" id="btnagregar" class="btn btn-primary" onclick="procesar()" >Calcular</button>
                          <button type="button" id="btneditar" class="btn btn-warning" onclick="actualizarfila()" >Editar</button>
                      
                        </form>
               </div>
               <div class="col-xl-6 col-lg-6  col-md-6  col-sm-6 col-6  ">
                 
               </div>
           </div>
           <br><br>
           <div id="cuadro" >
        
              <table class="table table-hover table-dark" id="mitabla">
                   <tr><th>ID</th> <th>nombre</th> <th>apellido </th> <th>correo</th><th>cedula</th><th>vht</th><th>hora</th><th>total</th><th class="text-center">Opcion</th></tr>
          
           </table>
          </div>
         </div>
