
<br><br><br> 
<div class="container">

    <div class="row">
        <div class=" col-lg-6  ">
                  
  <br>
  <br>

  <a style=" color: black; " class="text-center nav-link" [routerLink]="'/info1'"> 
  
      <h4 style="color:blue;">
            ¡Recibe las mejores ofertas! <h4> 🖐🏽Click aqui🖐🏽</h4>
      </h4>
  
  </a> 
  
  <br>
  
  <a style=" color: black; " class="text-center nav-link" [routerLink]="'/info2'"> 
  
      <h4 style="color: blue;">
            ¿Quieres trabajar con nosotros? <h4>🖐🏽Click aqui🖐🏽</h4>
      </h4>
  
  </a> 
  
  <br>
  
  <a style=" color: black; " class="text-center nav-link" [routerLink]="'/info3'"> 
  
      <h4 style="color: blue;">
            ¿Ya trabajas con nosotros? <h4> 🖐🏽Click aqui 🖐🏽</h4>
      </h4>
  
  </a> 
  
  
  <br>
  
          
         </div>
         <div class=" col-lg-6  ">
             
          <div class="text-center">
              <img src="../../../assets/img/icecul.jpeg" style="width:400px; height:400px;">
              <br>
          
          </div>
          
  
         </div>
     </div>
    </div>
     <br><br>
     
  

