

<div class="container">
<br><br><br>

 <div class="row">

     <div class="col-lg-6 ">

        
           <img class="text-center" src="../../../assets/img/icecul.jpeg" style="width:350px; height:350px;">

           <br>

  

      </div>

      <div class="col-lg-6 ">

       <h1 style="text-align: center; color: blue;"> ¿Quienes Somos?</h1>

       <h4 style="text-align: center;color: rgb(0, 0, 0);">

        Ice Cul, Heladería que busca recuperar el concepto de barrio, clásica donde las personas

         se reúnen a pasar un rato mientras disfrutan pero en esta ocasión es dentro de una universidad

         donde los estudiantes pueden ir y comer un helado o malteada luego de un largo día de estudio.

         Esperamos que nuestros clientes siempre esten satisfechos con la calidad de nuestros producto

         ya que todas nuestras materias primas siempre son de la mejor calidad.    <br>

       </h4>      

      </div>

  </div>

  <br><br><br><br><br>


